<form
  class="expense-form"
  [formGroup]="expenseFormGroup"
  (ngSubmit)="saveExpense()"
>
  <div style="display: flex; justify-content: space-between; width: 65.4%; height: 78px;">
    <div style="display: flex; flex-direction: column;">
      <label class="expense-form__label" for="description">Descrição do gasto</label>
      <input
        name="description"
        class="expense-form__input description"
        type="text"
        placeholder="Dê uma descrição ao gasto"
        formControlName="description"
      />
      <app-invalid-form *ngIf="isDateInformed('description')" [errorMessage]="'Informe a descrição do gasto'"></app-invalid-form>
    </div>
    <div style="display: flex; flex-direction: column;">
      <label class="expense-form__label" for="spent-type">Tipo do gasto</label>
      <select
        name="spent-type"
        class="expense-form__input spent-type"
        type="text"
        formControlName="expenseType"
      >
        <option *ngFor="let type of expenseType" [value]="type">{{type}}</option>
      </select>
      <app-invalid-form *ngIf="isDateInformed('expenseType')" [errorMessage]="'Informe o tipo do gasto'"></app-invalid-form>
    </div>
  </div>
  <div style="display: flex; justify-content: space-between; width: 90.2%; height: 78px;">
    <div style="display: flex; flex-direction: column;">
      <label class="expense-form__label" for="cost">Valor</label>
      <input
        name="cost"
        class="expense-form__input cost"
        type="number"
        placeholder="Digite o valor da conta"
        formControlName="cost"
      />
      <app-invalid-form *ngIf="isDateInformed('cost')" [errorMessage]="'Informe o valor do gasto'"></app-invalid-form>
    </div>

    <div style="display: flex; flex-direction: column;">
      <label class="expense-form__label"  for="due-date">Vencimento</label>
      <input
        name="due-date"
        class="expense-form__input due-date"
        type="text"
        placeholder="Informe a data de vencimento"
        formControlName="dueDate"
      />
      <app-invalid-form *ngIf="isDateInformed('dueDate')" [errorMessage]="'Informe a data de vencimento'"></app-invalid-form>
    </div>

  </div>

  <button
    class="expense-form__button"
    type="submit"
    (click)="saveExpense()"
    [disabled]="!expenseFormGroup.valid"
  >
      Salvar
  </button>
</form>
