.expense-list{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin: 0 auto;
  background-color: whitesmoke;

  &__header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 6px;

  }
  &__title{
    font-size: 14px;
    &--preffix{
      font-size: 12px;
    }

    &:first-child{
      border-right: 2px solid;
      padding-right: 12px;
    }
    &:last-child{
      border-left: 2px solid;
      padding-left: 12px;
    }
  }
}
