.card-amount{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 220px;
  background-color: white;
  padding: 1rem;
  border-radius: 6px;
  margin: 1rem auto;
  &__title, &__description{
    font-size: 14px;
    font-weight: 400;
  }

  &__value{
    font-size: 1.4rem;
    font-weight: 500;
    padding: 6px 0px;
  }
}
