<div class="expense-card">
  <section class="expense-card__infos">
    <div class="expense-card__infos--icon-container">
      <span class="expense-card__infos--icon-circle"> </span>
    </div>
   <div class="expense-card__infos--text-container">
      <span class="expense-card__infos--type">{{expense.expenseType}}</span>
      <p class="expense-card__infos--date">{{expense.dueDate}}</p>
   </div>

  <div class="expense-card__infos--cost-container">
    <p class="expense-card__infos--value">-R${{expense.cost}},00</p>
  </div>

  </section>

</div>
